@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}
.background {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* background-image: linear-gradient(
   32deg,
   rgba(8, 8, 8, 0.74) 30px,
   transparent
 ); */
  background-size: 60px 60px;
  background-position: -5px -5px;
}
/* .introHeader,
.intro {
 visibility: hidden;
 opacity: 0;
 pointer-events: none;
 transition: opacity 0.5s ease;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(15px);
  color: white;
  padding: 10px 20px;
}

.navbar .logo {
  font-size: 24px;
  color: black;
  text-decoration: none;
}
.nav-buttons {
  display: flex;
  flex-direction: row;
}

.nav-buttons .btn {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.signup {
  background-color: black;
  color: white;
  border-radius: 20px;
}

.btn:hover {
  opacity: 0.7;
}

/* FLOATING SIDEBAR */
ul {
  clear: both;
  position: fixed;
  display: block;
  list-style-type: none;
  right: -4.2em;
  top: 57%;
  -webkit-animation: slideright 3s forwards;
  -webkit-animation-delay: 1.5s;
  animation: slideright 1s forwards;
  animation-delay: 5s;
}

@keyframes slideright {
  100% {
    right: 0;
  }
}

li {
  margin-bottom: 8px;
  margin-right: -30px;
  padding: 10px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: width 0.5s, background-color 0.1s;
  transition: width 0.5s, background-color 0.1s;
}

li a {
  font-size: 19px;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  color: #ebebeb;
}

li:hover {
  background-color: white;
  color: black;
}
/* =========================== 3D animation====================================== */
spline-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.overlay {
  position: fixed;
  width: 150px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: white;
  z-index: 10;
}

/* ===========================Login form====================================== */

.form-box {
  position: relative;
  width: 350px;
  height: 490px;
  background: transparent;
  border: 2px solid black;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; /* Center the form on the page */
  margin-top: 100px;
}

.form-heading {
  display: flex;
  justify-content: center;
}
h2 {
  font-size: 2em;
  color: black;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px; /* Adjusted for smaller screens */
  border-bottom: 2px solid black;
}

.login-button {
  margin: 20px 0px;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: black;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: black;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: black;
  font-size: 1.2em;
  top: 20px;
}

.forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: black;
  display: flex;
  justify-content: space-between;
}

.forget label input {
  margin-right: 3px;
}

.forget label a {
  color: black;
  text-decoration: none;
}

.forget label a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: black;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  margin-top: 5px;
}

.register {
  font-size: 0.9em;
  color: black;
  text-align: center;
  margin: 25px 0 10px;
}

.register a {
  text-decoration: underline;
  color: black;
  font-weight: 600;
  margin-left: 70px;
}

.register p a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .form-box {
    width: fit-content; /* Make the form width responsive */
    height: auto; /* Adjust height automatically */
    padding: 20px; /* Add some padding for smaller screens */
  }
  .inputbox {
    width: calc(100% - 40px); /* Adjust width with padding considered */
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 1.5em; /* Smaller font size for very small screens */
  }
  .inputbox label,
  .inputbox input,
  .forget,
  button,
  .register {
    font-size: 0.8em; /* Smaller font sizes for all text elements */
  }
}

/* ============================= Header ====================================*/
.logo {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.signout {
  width: auto;
}
#navlist {
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  /* border-bottom: 2px solid #604cff; */
}

#navlist a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 17px;
  text-decoration: none;
}

.search input[type="text"] {
  width: 300px;
  height: 25px;
  border-radius: 25px;
  margin-top: 12px;
  border: 1px solid black;
}

.block1 .logo {
  flex: 1 1 auto;
}
.nav-main-buttons {
  float: right;
  display: flex;
  justify-content: space-between;
}
.nav-main-buttons #nav {
  margin: 15px 20px;
  height: 20px;
  color: white;
  cursor: pointer;
}
.block1 {
  display: flex;
  justify-content: space-between;
  width: 180px;
}

@media (max-width: 768px) {
  #navlist {
    flex-direction: row;
    text-align: center;
  }

  .block1,
  .nav-main-buttons {
    justify-content: center;
    padding: 10px 0;
    align-items: center;
  }

  .search {
    justify-content: center;
    width: 100%;
    padding: 10px 0;
  }

  .search input[type="text"] {
    width: 90%;
  }
}

/* =========================== Side navbar======================================*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  border-right: 1px solid black;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: "Courier New", Courier, monospace;
}

.sidenav a:hover {
  color: #ff8800;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#navlist {
  transition: margin-left 0.5s;
}

/* =============================Hero video====================================*/

.hero-container {
  display: grid;
  /* grid-template-columns: 45% 55%; */
  justify-content: space-around;
  align-items: center;
  height: auto;
  background: transparent;
}

.small-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mood-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px 0px; */
}

/* .circle p {
 margin: 10px;
} */

.intro-text {
  text-align: center;
  color: white;
}

.intro-text h1 {
  font-size: 64px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.intro-text p {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
}
/* Sound button container */
.sound-button-container {
  margin: 10px 0px;
}
/* ============================== Album carousel and artist carousel===================================*/
.carousel-container {
  width: 100%;
  position: relative;
  height: auto;
}

.card {
  color: white;
  background-color: black;
  width: 200px;
  overflow: hidden;
  text-align: center;
  background: transparent;
  backdrop-filter: blur(15px);
  border: 2px solid black;
  text-align: center;
  object-position: center;
}

.song-name,
.artist-name,
.currentsong-name,
.nextsong-name,
.nextnextsong-name {
  margin: 5px 0;
}
.currentsong-artist,
.nextsong-artist,
.nextnextsong-artist {
  font-size: 9.6px;
}

.card-image {
  width: 300px;
  height: 300px;
  text-align: center;
  object-position: center;
}
.card img {
  height: 100%;
  width: 100%;
  margin-left: 20px;
  object-fit: cover;
}
.carousel {
  overflow: hidden;
  position: relative;
}
.carousel-slides {
  display: flex;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

button.prev {
  left: 0;
}

button.next {
  right: 0;
}

@media (max-width: 600px) {
  .carousel-container {
    margin-top: 50px; /* Adjust based on actual space needed */
  }
}
/* ===============================Music player==================================*/

.player-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 20px;
}

.music-player {
  backdrop-filter: blur(15px);
  width: 390px;
  height: 420px;
  padding: 20px 10px;
  box-sizing: content-box;
  text-align: center;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.player-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.song-img {
  width: 110px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
  margin-top: 20px;
}
.song-img-rotate {
  animation: rotateAnimation 10s infinite linear;
}

.song-img-pause {
  animation-play-state: paused !important;
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#song-name {
  color: #ff8800;
}

#progress {
  -webkit-appearance: none;
  width: 80%;
  height: 6px;
  background: #ff8800;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: #ff8800;
  border-radius: 50%;
  cursor: pointer;
  border: 8px solid #fff;
  box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls div {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 50%;
  color: #ff8800;
  cursor: pointer;
  margin: 20px;
}

.controls div:nth-child(2) {
  transform: scale(1.3);
  background: #ff8800;
  color: white;
}

/* Mood button */

/* SWITCH
--------------------------------------------- */

.container .origin {
  position: absolute;

  z-index: 111;
  width: 2px;
  height: 2px;
  margin: -1px 0 0 -1px;
}

.de {
  user-select: none;
  position: relative;
  width: 500px;
  height: 230px;
  border-radius: 100%;
  background-color: transparent;
}

.de .den,
.de .dene,
.de .denem,
.de .deneme,
.de .light,
.de .dot {
  position: absolute;
  left: 50%;
  top: 50%;
}

.den {
  position: relative;
  width: 220px;
  height: 220px;
  margin: -110px 0 0 -110px;
  border-radius: 100%;
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.6),
    0 2px 20px rgba(255, 255, 255, 1);
  background: #888888;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #888888 0%,
    #333333 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, #888888),
    color-stop(100%, #333333)
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #888888 0%,
    #333333 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    #888888 0%,
    #333333 100%
  );
}

.dene {
  z-index: 4;
  width: 140px;
  height: 140px;
  margin: -70px 0 0 -70px;
  border-radius: 100%;
  box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.4),
    0 3px 13px rgba(0, 0, 0, 0.85);
  background: #f2f6f5;
  background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f2f6f5),
    color-stop(100%, #cbd5d6)
  );
  background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
  background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
}

.denem {
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  border-radius: 100%;
  background: #cbd5d6;
  background: -moz-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #cbd5d6),
    color-stop(100%, #f2f6f5)
  );
  background: -webkit-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
  background: -o-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
}

.deneme {
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border-radius: 100%;
  box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.6),
    0 8px 20px rgba(0, 0, 0, 0.9);
  background: #eef7f6;
  background: -moz-linear-gradient(top, #eef7f6 0%, #8d989a 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #eef7f6),
    color-stop(100%, #8d989a)
  );
  background: -webkit-linear-gradient(top, #eef7f6 0%, #8d989a 100%);
  background: -o-linear-gradient(top, #eef7f6 0%, #8d989a 100%);
}

.den .switch {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.den .switch label {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 70px;
  margin-top: -35px;
  transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
}

.den .switch label:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 1px;
  width: 100%;
  height: 30px;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.den .switch label:before {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 1px;
  width: 100%;
  height: 30px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.den .switch label span {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  font-weight: bold;
  font-size: 10px;
  line-height: 70px;
  text-align: center;
  color: #eee;
  text-shadow: 0 1px 0 #444;
}

.den .switch label:nth-child(1) {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.den .switch label:nth-child(1) span {
  right: 2px;
  font-size: 13px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.den .switch label:nth-child(2) {
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.den .switch label:nth-child(2) span {
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.den .switch label:nth-child(3) {
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.den .switch label:nth-child(3) span {
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.den .switch label:nth-child(4) {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.den .switch label:nth-child(4) span {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.den .switch label:nth-child(5) {
  transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -o-transform: rotate(150deg);
}

.den .switch label:nth-child(5) span {
  transform: rotate(-150deg);
  -webkit-transform: rotate(-150deg);
  -o-transform: rotate(-150deg);
}

.den .switch label:nth-child(6) {
  transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -o-transform: rotate(210deg);
}

.den .switch label:nth-child(6) span {
  transform: rotate(-210deg);
  -webkit-transform: rotate(-210deg);
  -o-transform: rotate(-210deg);
}

.den .switch input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

/* SWITCH LIGHT */

.den .light {
  z-index: 1;
  width: 50%;
  height: 100px;
  margin-top: -50px;
  transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -o-transition: all 0.5s;
}

.den .light span {
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 15px;
  width: 100px;
  height: 100px;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(184, 163, 204, 1) 0%,
    rgba(159, 197, 224, 0.42) 42%,
    rgba(111, 113, 179, 0) 72%,
    rgba(67, 34, 137, 0) 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(184, 163, 204, 1)),
    color-stop(42%, rgba(159, 197, 224, 0.42)),
    color-stop(72%, rgba(111, 113, 179, 0)),
    color-stop(100%, rgba(67, 34, 137, 0))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(184, 163, 204, 1) 0%,
    rgba(159, 197, 224, 0.42) 42%,
    rgba(111, 113, 179, 0) 72%,
    rgba(67, 34, 137, 0) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(184, 163, 204, 1) 0%,
    rgba(159, 197, 224, 0.42) 42%,
    rgba(111, 113, 179, 0) 72%,
    rgba(67, 34, 137, 0) 100%
  );
}

/* SWITCH LIGHT POSITION */

.den #switch_off:checked ~ .light {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.den #switch_1:checked ~ .light {
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.den #switch_2:checked ~ .light {
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.den #switch_3:checked ~ .light {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.den #switch_4:checked ~ .light {
  transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -o-transform: rotate(150deg);
}

.den #switch_5:checked ~ .light {
  transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -o-transform: rotate(210deg);
}

/* SWITCH LIGHT */

.den .dot {
  z-index: 6;
  width: 50%;
  height: 12px;
  margin-top: -6px;
  transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.den .dot span {
  position: absolute;
  top: 0;
  left: 30px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #ff8800;
  background: -moz-linear-gradient(top, #ff8800 0%, #ff8800 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ff8800),
    color-stop(100%, #ff8800)
  );
  background: -webkit-linear-gradient(top, #ff8800 0%, #ff8800 100%);
  background: -o-linear-gradient(top, #ff8800 0%, #ff8800 100%);
}

/* SWITCH LIGHT POSITION */

.den #switch_off:checked ~ .dot {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.den #switch_off:checked ~ .dot span {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.den #switch_1:checked ~ .dot {
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.den #switch_1:checked ~ .dot span {
  opacity: 0.9;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.den #switch_2:checked ~ .dot {
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.den #switch_2:checked ~ .dot span {
  opacity: 0.5;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.den #switch_3:checked ~ .dot {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.den #switch_3:checked ~ .dot span {
  opacity: 0.4;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.den #switch_4:checked ~ .dot {
  transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -o-transform: rotate(150deg);
}

.den #switch_4:checked ~ .dot span {
  opacity: 0.5;
  transform: rotate(-150deg);
  -webkit-transform: rotate(-150deg);
  -o-transform: rotate(-150deg);
}

.den #switch_5:checked ~ .dot {
  transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -o-transform: rotate(210deg);
}

.den #switch_5:checked ~ .dot span {
  opacity: 0.9;
  transform: rotate(-210deg);
  -webkit-transform: rotate(-210deg);
  -o-transform: rotate(-210deg);
}

/* LINE */

.den hr.line {
  z-index: 1;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0;
  margin-top: -1px;
  border-width: 1px 0;
  border-style: solid;
  border-top-color: #3c3d3f;
  border-bottom-color: #666769;
}

.den hr.line:nth-child(1) {
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
}

.den hr.line:nth-child(2) {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -o-transform: rotate(60deg);
}

/* loading animation */

.loading-container {
  background-color: black;
}

.sharingon {
  width: 6em;
  height: 6em;
  background-color: white;
  border: 6px solid black;
  animation: rot 1s ease-in-out infinite;
}

.ring {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 3.5em;
  height: 3.5em;
  border: 4px solid #ff8800;
  transform: translate(-50%, -50%);
}

.sharingon,
.ring,
.to,
.sharingoncircle {
  border-radius: 50%;
}

.to,
.sharingoncircle {
  position: absolute;
  content: "";
  width: 0.9em;
  height: 0.9em;
  background-color: black;
}

.to:nth-child(1) {
  top: -0.5em;
  left: 50%;
  transform: translate(-40%);
}

.to::before {
  content: "";
  position: absolute;
  top: -0.5em;
  right: -0.2em;
  width: 1.1em;
  height: 0.9em;
  box-sizing: border-box;
  border-left: 16px solid black;
  border-radius: 100% 0 0;
}

.to:nth-child(2) {
  bottom: 0.5em;
  left: -0.35em;
  transform: rotate(-120deg);
}

.to:nth-child(3) {
  bottom: 0.5em;
  right: -0.35em;
  transform: rotate(120deg);
}

.sharingoncircle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px 1px;
  width: 1em;
  height: 1em;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* weather card */

.cardContainer {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-card {
  position: relative;
  width: 300px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  margin-top: 25px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.city {
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 1.2px;
  color: #ff8800;
}

.weather {
  font-weight: 500;
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: rgb(197, 197, 197);
}

.weather-icon img {
  width: 25px;
  height: 25px;
}

.temp {
  font-size: 1.8em;
  color: black;
}

.minmaxContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.min,
.max {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 20px;
  gap: 4px;
}

.max {
  align-items: flex-start;
  border-left: 2px solid black;
}

.maxHeading,
.minHeading {
  font-size: 0.7em;
  font-weight: 600;
  color: #ff8800;
}

.maxTemp,
.minTemp {
  font-size: 0.8em;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.cardContainer::before {
  width: 100px;
  height: 100px;
  content: "";
  position: absolute;
  background-color: rgb(144, 161, 255);
  z-index: -1;
  border-radius: 50%;
  left: 100px;
  top: 50px;
  transition: all 1s;
}

.cardContainer:hover::before {
  transform: translate(-50px, 50px);
}

/* playlist card */
.playlist {
  background-color: white;
  padding: 1em;
  padding-bottom: 1.1em;
  border-radius: 15px;
  margin: 1em;
  margin-top: 35px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.loader {
  display: flex;
  flex-direction: row;
  height: 4em;
  padding-left: 1em;
  padding-right: 1em;
  transform: rotate(180deg);
  justify-content: right;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}

.loader:hover {
  background-color: lightgray;
}

.currentplaying {
  display: flex;
  margin: 1em;
}

.soundcloud {
  width: 50px;
  height: 50px;
  margin-right: 0.6em;
  animation: none !important;
}

.playlist-heading {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  align-self: center;
}

.loading {
  display: flex;
  margin-top: 1em;
  margin-left: 0.3em;
}

.load {
  width: 2px;
  height: 33px;
  background-color: #ff8800;
  animation: 1s move6 infinite;
  border-radius: 5px;
  margin: 0.1em;
}

#playIcon {
  margin-top: 10px;
  transform: scaleX(-1);
  padding-right: 9px;
}

.load:nth-child(1) {
  animation-delay: 0.2s;
}

.load:nth-child(2) {
  animation-delay: 0.4s;
}

.load:nth-child(3) {
  animation-delay: 0.6s;
}

.play {
  position: relative;
  height: 1.6em;
  width: 1.6em;
  align-self: center;
  margin-top: -0.3em;
  transform: rotate(180deg);
}

.albumcover {
  position: relative;
  margin-right: 1em;
  height: 40px;
  width: 40px;
  background-color: rgb(233, 232, 232);
  align-self: center;
  border-radius: 5px;
}

.song {
  position: relative;
  transform: rotate(180deg);
  margin-right: 1em;
  color: black;
  align-self: center;
}

.artist {
  font-size: 0.6em;
}

@keyframes move6 {
  0% {
    height: 0.2em;
  }

  25% {
    height: 0.7em;
  }

  50% {
    height: 1.5em;
  }

  100% {
    height: 0.2em;
  }
}
/* Light nav buttton */
#checkbox {
  display: none;
}

.switch {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
}

#checkbox:checked + .switch {
  box-shadow: 0px 0px 1px rgb(17, 17, 17) inset,
    0px 0px 2px rgb(17, 17, 17) inset, 0px 0px 10px rgb(17, 17, 17) inset,
    0px 0px 40px rgb(17, 17, 17), 0px 0px 100px rgb(17, 17, 17),
    0px 0px 5px rgb(17, 17, 17);
  border: 2px solid #ff8800;
  background-color: rgb(1, 1, 1);
}

:checked + .switch .fa-location-dot {
  color: #ff8800; /* New color when checked */
  transform: rotate(90deg);
}
/* sound icon button */

.sound-button {
  font-family: Arial, sans-serif;
  border: none;
  width: 192px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  border: 2px solid black;
}

.sound-button:hover {
  background-color: black;
  color: white;
}

.sound-icon {
  margin-right: 5px;
}

/* Intro cards */

/* Customizing the tooltip background and text color */
/* Base styling for the tooltip */
.introjs-tooltip {
  /* position: relative; */
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  color: #333;
  font-size: 16px;
  width: 2000px;
}

/* Customizing the buttons within the tooltip for better integration */
.introjs-nextbutton,
.introjs-prevbutton {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 14px;
  margin: 5px;
  cursor: pointer;
}

.introjs-button:hover {
  background-color: white;
  color: black;
}

.introjs-skipbutton {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  line-height: 45px;
  color: #ff8800;
  font-size: 10px;
  cursor: pointer;
}

/* Customizing the overlay */
.introjs-overlay {
  background: rgba(0, 0, 0, 0.8); /* Dark overlay for better focus */
}

/* About us page  */

.page-header,
.page-footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.title {
  font-weight: normal;
  font-size: 2.5em;
}

.heading {
  font-weight: normal;
  font-size: 1.5em;
  color: #f80;
}

.text {
  color: #666;
  padding: 22px 0px;
}

.content-section {
  background: #f4f4f4;
  padding: 60px;
}

.content-block:not(:last-child) {
  margin-bottom: 20px;
}

.divider {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, #f80, rgba(0, 0, 0, 0.75), #f80);
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1200px;
}

.footer-text {
  margin: 0;
}

@media (max-width: 768px) {
  .title {
    font-size: 2em;
  }

  .heading {
    font-size: 1.2em;
  }
}

/* Mouse follow animation
.cursorFollower,
.cursorFollowerDot {
  left: 0;
  top: 0;
}

.cursorFollower {
  position: fixed;
  width: 2rem;
  height: 2rem;
  border: 2px solid black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
}
.cursorFollowerDot {
  position: fixed;
  width: 0.8rem;
  height: 0.8rem;
  background: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
} */

/* Add media queries */

/* For Tablet View */
@media (min-width: 1200px) {
  .hero-container {
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: space-around;
    align-items: center;
    height: auto;
    background: transparent;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .hero-container {
    flex-direction: row;
    padding: 30px;
    gap: 30px;
  }
  .small-cards {
    width: 880px;
    margin: 20px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .hero-container {
    padding: 30px;
  }
  .small-cards {
    flex-direction: column;
  }

  .parameters-container {
    display: flex;
    flex-direction: column;
  }
  .playlist {
    background-color: white;
    width: 292px;
    height: 295px;
    border-radius: 15px;
    align-items: center;
    margin: 35px 0px;
  }
}
