@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

/* .introHeader,
.intro {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(15px);
  color: white;
  padding: 10px 20px;
}

.navbar .logo {
  font-size: 24px;
  color: #604cff;
  text-decoration: none;
}
.nav-buttons {
  display: flex;
  flex-direction: row;
}

.nav-buttons .btn {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.signup {
  background-color: black;
  color: white;
  border-radius: 20px;
}

.btn:hover {
  opacity: 0.7;
}

/* =========================== 3D animation====================================== */
spline-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.overlay {
  position: fixed;
  width: 150px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: black;
  z-index: 10;
}

/* ===========================Login form====================================== */

.form-box {
  position: relative;
  width: 350px;
  height: 470px;
  background: transparent;
  border: 2px solid #604cff;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; /* Center the form on the page */
  margin-top: 100px;
}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px; /* Adjusted for smaller screens */
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.forget label input {
  margin-right: 3px;
}

.forget label a {
  color: #fff;
  text-decoration: none;
}

.forget label a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  margin-top: 5px;
}

.register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register a {
  text-decoration: underline;
  color: #fff;
  font-weight: 600;
  margin-left: 70px;
}

.register p a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .form-box {
    width: fit-content; /* Make the form width responsive */
    height: auto; /* Adjust height automatically */
    padding: 20px; /* Add some padding for smaller screens */
  }
  .inputbox {
    width: calc(100% - 40px); /* Adjust width with padding considered */
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 1.5em; /* Smaller font size for very small screens */
  }
  .inputbox label,
  .inputbox input,
  .forget,
  button,
  .register {
    font-size: 0.8em; /* Smaller font sizes for all text elements */
  }
}

/* ============================= Header ====================================*/

.signout {
  width: auto;
}
#navlist {
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  /* border-bottom: 2px solid #604cff; */
}

#navlist a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 17px;
  text-decoration: none;
  font-size: 15px;
}

.search input[type="text"] {
  width: 300px;
  height: 25px;
  border-radius: 25px;
  margin-top: 12px;
  border: none;
}

.block1 .logo {
  flex: 1 1 auto;
}
.nav-main-buttons {
  float: right;
  display: flex;
  justify-content: space-between;
}
.nav-main-buttons button {
  margin: 15px 20px;
  height: 20px;
}
.block1 {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

@media (max-width: 768px) {
  #navlist {
    flex-direction: row;
    text-align: center;
  }

  .block1,
  .nav-main-buttons {
    justify-content: center;
    padding: 10px 0;
  }

  .search {
    justify-content: center;
    width: 100%;
    padding: 10px 0;
  }

  .search input[type="text"] {
    width: 90%;
  }
}

/* =========================== Side navbar======================================*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: "Courier New", Courier, monospace;
}

.sidenav a:hover {
  color: #604cff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#navlist {
  transition: margin-left 0.5s;
}

/* =============================Hero video====================================*/

.hero-container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: transparent;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: transparent;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #604cff; /* Text color */
  text-align: center;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  border: 2px solid #604cff;
}

.circle h1,
h2 {
  width: fit-content;
}

.intro-text {
  text-align: center;
  color: white;
}

.intro-text h1 {
  font-size: 64px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.intro-text p {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
}
/* Responsive adjustments */
@media (max-width: 600px) {
  .hero-container {
    grid-template-columns: auto;
    padding-top: 70px;
  }
}
/* ============================== Album carousel and artist carousel===================================*/
.carousel-container {
  width: 100%;
  position: relative;
  margin-top: 100px;
}

.card {
  color: white;
  background-color: black;
  width: 300px;
  overflow: hidden;
  text-align: center;
  background: transparent;
  backdrop-filter: blur(15px);
  border: 2px solid #604cff;
  text-align: center;
  object-position: center;
}

.song-name,
.artist-name {
  margin: 5px 0;
}
.card-image {
  width: 300px;
  height: 300px;
  text-align: center;
  object-position: center;
}
.card img {
  height: 100%;
  width: 100%;
  margin-left: 20px;
  object-fit: cover;
}
.carousel {
  overflow: hidden;
  position: relative;
}
.carousel-slides {
  display: flex;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

button.prev {
  left: 0;
}

button.next {
  right: 0;
}
